@{
    ViewBag.Title = "Branch Add Edit";
    Layout = "_Layout";
}
@model crud_demo.Areas.Branch.Models.Branch;
<h2 class="text-white">
    Branch Add Edit
</h2>

<form class="row g-3 row-cols-1" type="post" asp-controller="Branch" asp-action="Save">
    @Html.HiddenFor(x => x.BranchId)
    @Html.HiddenFor(x => x.Created)
    <div class="col-12">
        <label for="BranchName" class="form-label text-white">Branch Name</label>
        <input type="text" class="form-control" id="" asp-for="BranchName">
        <span asp-validation-for="BranchName" class="text-danger"></span>
    </div>
    <div class="col-12">
        <label for="BranchCode" class="form-label text-white">Branch Code</label>
        <input type="text" class="form-control" asp-for="BranchCode">
        <span asp-validation-for="BranchCode" class="text-danger"></span>
    </div>
    <div class="text-center">
        <button type="submit" class="btn btn-primary">Submit</button>
        <button type="reset" class="btn btn-secondary">Reset</button>
    </div>
</form>